#header_outter_wrap{opacity:0.8;filter:alpha(opacity=80);}
body{background:#f2adc9 url(bg.jpg) repeat-x scroll center top;}
#notice_form{background:url(nfbg.jpg);}
a.outbound{color:#fff;}
#wrap{background-color:#FC78A4;}
#widgets div.split{border-top-color:#fc89af;}#widgets div.sub_info a:link,#widgets div.sub_info a:visited{border-left-color:#fc89af;}#widgets dl.grid-6 dd p.op{color:#fc89af;}
#w_nav li{border-bottom-color:#fc89af;background-color:#e26c93;}
#widgets div.group_info div.avatar{border-color:#fc9ebd;}#widgets div.group_info dl.detail dt a:link, #widgets div.group_info dl.detail dt a:visited{border-top-color:#fc9ebd;border-bottom-color:#8d435b}#widgets div.group_info dl.detail dt{border-color:#c45d7f;}
