#header_outter_wrap{opacity:0.8;filter:alpha(opacity=80);}
body{background:url(bg.jpg) repeat scroll center top;}
#notice_form{background:url(nfbg.jpg);}
a.outbound{color:#fff;}
#wrap{background-color:#454D73;}
#widgets div.split{border-top-color:#5d6485;}#widgets div.sub_info a:link,#widgets div.sub_info a:visited{border-left-color:#5d6485;}#widgets dl.grid-6 dd p.op{color:#5d6485;}
#w_nav li{border-bottom-color:#5d6485;background-color:#3e4567;}
#widgets div.group_info div.avatar{border-color:#797f9a;}#widgets div.group_info dl.detail dt a:link, #widgets div.group_info dl.detail dt a:visited{border-top-color:#797f9a;border-bottom-color:#262b40}#widgets div.group_info dl.detail dt{border-color:#353c59;}